<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img class="d-block w-100" src="images/bg-2.jpg" >
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather app</p>
                    <h1>My Name Is mehul I am <span class="text">Engineer </span>Live In Bharatpur</h1>
                    <a href="https://www.linkedin.com/in/mehul-kulshrestha-919161171/"><button>About me</button></a>
                </div>
                
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>